.cart {
  display: flex;
  flex: 1;
  align-items: flex-start;
  background-color: white;
  margin-bottom: 2vh;
}
.Product__photo {
  height: 150px;
  width: 150px;
  object-fit: contain;
  margin-right: 2vw;
}
.currency {
  color: var(--danger);
}
.product__details {
  display: flex;
  flex-direction: column;
}
#left-btn {
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
#right-btn {
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.product__quantity {
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-top: 0.5px solid #e5e2e2;
  border-bottom: 0.5px solid #e5e2e2;
}
.product__functionality {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
#product__remove {
  align-self: start;
  border: 0.5px solid #e5e2e2;
  border-radius: 4px;
  padding: 5px;
  font-size: 14px;
  font-weight: 400;
  background-color: white;
  margin-bottom: 10px;
}
#product__remove:hover {
  border: 0.5px solid #fff;
  background-color: var(--danger);
  color: white;
}
#product__remove:focus {
  outline: none;
}
