.stickyy {
	position: sticky;
	top: 0;
	z-index: 999;
	background-color: #eeebeb;
	padding-bottom: 1vh;
}
.navbar1 ul {
	list-style: none;
}
.dropdwon::before {
	content: '';
	margin-top: 0;
	padding-top: 0;
	height: 5vh;
	width: 100%;
	background-color: #e73849;
}
.dropShow::before {
	content: '';
	margin-top: 0;
	padding-top: 0;
	height: 5vh;
	width: 100%;
	background-color: #e73849;
}

.dropdwon {
	margin-top: 1vh;
	position: absolute;
	background-color: white;
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
		0 12.5px 10px rgba(0, 0, 0, 0.06);
	z-index: 999;
	left: 0px;
	border-bottom-right-radius: 40px;
	border-top-right-radius: 40px;
	top: 6vh;
	height: 80vh;
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	transform: translateX(-100%);
	transition: transform 0.5s ease-in-out;
}
.dropShow {
	margin-top: 1vh;
	position: absolute;
	background-color: white;
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
		0 12.5px 10px rgba(0, 0, 0, 0.06);
	z-index: 999;
	left: 0px;
	border-bottom-right-radius: 40px;
	border-top-right-radius: 40px;
	top: 6vh;
	height: 80vh;
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	transform: translateX(0%);
	transition: transform 0.5s ease-in-out;
}
.sidebar__items li {
	padding: 10px 0;
	text-align: center;
	border-bottom: 0.5px solid rgba(0, 0, 0, 0.023);
}
.sidebar__items li:hover {
	cursor: pointer;
	background-color: #eeebeb;
	font-weight: 800;
}
.sign__button {
	padding: 0.5rem;
	border: none;
	background-color: #dc3545;
	color: white;
}
.sign__button:focus {
	outline-color: #d31a2c;
	outline-width: thin;
}
.sign__button:hover {
	cursor: pointer;
	background-color: #ee0d23;
}
.brand-name {
	color: #e32929;
	font-size: 2.5rem;
	font-weight: 800;
}
.brand-name:hover {
	color: #f52e2e;
}
.logo {
	margin-right: auto;
	margin-left: auto;
	color: #e32929;
	font-size: 1.8rem;
	font-weight: 800;
}
.navbar1 {
	display: flex;
	margin-bottom: 5vh;
	margin-top: 1vh;
}
.burger {
	position: fixed;
	cursor: pointer;
	width: 26px !important;
	margin-left: 4vw;
}
.toggle {
	position: fixed;
	cursor: pointer;
	width: 26px;
	margin-left: 4vw;
}
.burger div {
	height: 5px;
	width: 26px;
	background-color: #111;
	margin-bottom: 4px;
	transition: transform 0.5s ease-in-out;
}

.toggle div {
	height: 5px;
	width: 26px;
	background-color: #111;
	margin: 4px;
}
.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
	transition: transform 0.5s ease-in-out;
}
.toggle .line2 {
	opacity: 0;
}
.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
	transition: transform 0.5s ease-in-out;
}
@media only screen and (max-width: 780px) {
	.dropShow {
		width: 70vw;
	}
	.dropdwon {
		width: 70vw;
	}
}
