.form-signin {
  width: 95%;
  max-width: 450px;
  padding: 2rem;
  margin: auto;
  border: none;
  border-radius: 10px;
  background-color: white;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
/* .red {
  color: red;
  padding: 20rem;
} */
.form-signin input[type='email'] {
  width: 100% !important;
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type='password'] {
  width: 100% !important;
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 1vh;
}
.info__div {
  display: flex;
  height: 1rem;
  width: 1rem;
  background-color: red;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.info_icon {
  color: white;
}
@media only screen and (min-width: 800px) {
  .form-signin {
    width: 100%;
    max-width: 450px;
  }
}
