.nav-linky {
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  flex: 1;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
}

.ACTIVE {
  padding: 10px;

  border-radius: 5px;
  background-color: #df8730;
}
.ACTIVE:hover {
  background-color: #f1a04f;
}

.search {
  display: flex;
  flex: 1;
  margin-bottom: 4vh;
}
.find {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.inputSearch {
  padding: 8px;
  border: none;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: white;
  width: 100%;
}
.inputSearch:focus {
  outline: none;
}
@media only screen and (max-width: 320px) {
  .nav-linky li a {
    font-size: x-small;
  }
}
