.basket {
	transform: scale(3);
}
.basket:hover {
	background-color: rgb(248, 244, 244) !important;
}

.userinfo {
	background-color: white;
	border: 3px solid rgb(154, 156, 156);
	border-radius: 50%;
	height: 35px;
	width: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.userinfo > p {
	letter-spacing: 2px;
	color: rgb(126, 121, 121);
	font-weight: 500;
}
.taskbar {
	margin: 0;
	display: flex;
	flex-direction: row;
	list-style-type: none;
	align-items: center;
	justify-content: space-around;
	width: 80%;
}
.cart-number {
	position: absolute;
	z-index: 100;
	top: -20px;
	left: 20px;
	text-align: center;
	color: rgb(255, 255, 255);
	background-color: #f03535;
	width: 24px;
	border-radius: 50%;
}
