.Product {
	margin-top: 10vh;
	height: 50vh;
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: space-evenly;
	background-color: white;
	border-radius: 10px;
	border: 0.5px solid #e4e8ec;
}
.details {
	width: 50vw;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.details > .price {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: safe;
}
.details div {
	margin-bottom: 10px;
}
.details > button {
	width: 10rem;
}
.Product > .image img {
	max-height: 400px;
	width: 150px;
	object-fit: contain;
}
.quantity {
	display: flex;
}
