.form-register {
	width: 95%;
	max-width: 450px;
	padding: 2rem;
	margin: auto;
	border: none;
	border-radius: 10px;
	background-color: white;
}

.form-register input[type='email'] {
	width: 100% !important;
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-register input[type='text'] {
	width: 100% !important;
}
.form-register input[type='password'] {
	width: 100% !important;
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.form-register .form-register label {
	text-align: left !important;
}

@media only screen and (min-width: 800px) {
	.form-register {
		width: 100%;
		max-width: 450px;
	}
}

.loader {
	border: 4px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #db3434; /* Blue */
	border-radius: 50%;
	width: 20px;
	height: 20px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
