.dropdwon {
  position: absolute;
  background-color: rgb(119, 116, 116);
  z-index: 999;
  left: 0px;
  top: 6vh;
  height: 90vh;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}
.dropShow {
  position: absolute;
  background-color: rgb(119, 116, 116);
  z-index: 999;
  left: 0px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  top: 6vh;
  height: 90vh;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(0%);
  transition: transform 0.5s ease-in-out;
}
