.img-container {
  max-width: 200px;
  height: 150px;
  background-color: #fdfbfb;
  border-radius: 20px;
  position: relative;
}

.display-body div img {
  width: 200px;
  object-fit: contain;
  height: 150px;
  margin: 0 auto;
  border-radius: 10;
}
.display-body div img:hover {
  cursor: pointer;
}
.display-body {
  position: relative;
  background: rgb(255, 255, 255);
  padding: 20px;
  margin: 2vh auto;
  width: 60vw;
  border-radius: 10px;
  border: 0.5px solid #e4e8ec;
  display: flex;
  flex-direction: column;
}
.display-body > div h3,
.display-body div p,
.display-body div h5 {
  font-size: 18px;
  margin: 0;
}
.display-body div {
  margin-bottom: 2px;
}
.display-body h3 {
  font-weight: bolder;
}
.addFlag {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 40%;
  width: 100px;
  text-align: center;
}
.red h3 {
  color: #e32929;
}
.checkFlag {
  margin-left: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add {
  position: absolute;
  bottom: 20px;
  right: 5px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 16.3px 13.9px rgba(78, 6, 6, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 10px 8px rgba(0, 0, 0, 0.12);
}

@media only screen and (min-width: 800px) {
  .display-body {
    max-width: 250px;
  }
}

@media only screen and (max-width: 799px) and (min-width: 479px) {
  .display-body {
    max-width: 250px;
  }
}
@media only screen and (max-width: 320px) {
  .display-body {
    width: 70vw;
  }
  .display-body img {
    max-width: 150px;
    object-fit: contain;
    max-height: 100px;
    margin: 0 auto;
    border-radius: 10;
  }
  .img-container {
    max-width: 150px;
    max-height: 100px;
    background-color: #fdfbfb;
    border-radius: 20px;
    position: relative;
  }
}
