* {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: rgb(234, 237, 237) !important;
	/* overflow-x: hidden; */
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

a {
	text-decoration: none !important;
}

.separator {
	z-index: 1;
	height: 10vh;
}
.separator2 {
	z-index: 1;
	height: 2vh;
	color: red;
}

@media only screen and (max-width: 800px) {
	.form-control {
		width: 60vw !important;
	}
}
.slick-list {
	width: 65vw;
	margin: 0 auto;
}

.slick-prev:before,
.slick-next:before {
	color: rgb(245, 137, 14) !important;
}
button.slick-prev {
	position: absolute;
	z-index: 1;
	left: -60px;
}
button.slick-next {
	position: absolute;
	z-index: 1;
	right: -60px;
}
.slick-dots li button:before {
	color: rgb(255, 167, 5) !important;
}

ul.slick-dots {
	margin-bottom: 5px;
}

.with-fill {
	fill: #f03535;
	stroke: #f03535;
	stroke-width: 2;
	stroke-miterlimit: 10;
	transition: fill 0.2s ease-in-out;
}

.with-fill:hover {
	cursor: pointer;
}

.without-fill {
	fill: white;
}
.without-fill:hover {
	cursor: pointer;
	fill: rgb(248, 246, 246);
}
